[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-dpsg"]
	path = themes/hugo-dpsg
	url = https://github.com/pfadfinder-konstanz/hugo-dpsg
[submodule "themes/soho"]
	path = themes/soho
	url = https://github.com/alexandrevicenzi/soho.git
